<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.podcastplayer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/baseline_play_circle_outline_black_18"
        android:label="@string/app_name"
        android:roundIcon="@drawable/baseline_play_circle_outline_black_18"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddMedia"
            android:parentActivityName=".MainActivity"
            android:label="@string/add_media" />
        <activity
            android:name=".MediaInfo"
            android:label="@string/media_info"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".NowPlaying"
            android:label="@string/now_playing"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>